@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root{
    padding: 120px 15%;
    min-height: 100%;
    min-width: 100%;
}

body {
    padding: 2rem;
    height: 100%;
    width: 100%;
    background-color: rgb(59, 58, 58);
}